SELECT {{' '}}
{%- for data in config['source_data'] -%}
    {%- for table, columns in data['table_column_mapping'].items() -%}
        {%- for column in columns -%}
            {{data['database']}}.{{data['schema']}}.{{table}}.{{column}}{{', ' if not loop.last}}
        {%- endfor -%}{{',' if not loop.last}}
    {%- endfor -%}{{' '}}
    FROM {{ relevant_relationships_df.iloc[0]['full_name_table1'] }}
    {%- set join_conditions = [] -%}
    {%- for _, relationship in relevant_relationships_df.iterrows() -%}
        {%- set join_conditions = join_conditions.append(' JOIN {} ON {}'.format(relationship['full_name_table2'], relationship['join_condition'])) -%}
    {%- endfor -%}
    {{' '.join(join_conditions)}}
{%- endfor -%}





