SELECT {{' '}}
    {%- for table, columns in config["table_column_mapping"].items() -%}
        {%- for column in columns -%}
            {{config['database']}}.{{config['schema']}}.{{table}}.{{column}}{{', ' if not loop.last}}
        {%- endfor -%}{{',' if not loop.last}}
    {%- endfor -%}{{' '}}
    FROM {{ json_tables[0] }}
    {{joins_string}}





